This artifact has two levels of requirements, which are corresponding to the two
parts of the artifact: Raw Data Description and Study Replication.

- Raw Data Description: this part does not have requirements for hardware and
software.

- Study Replication: 
    For hardware, it is required to have at least 100GB of free disk space.  
    For software, it is required to have Ubuntu 20.04 as operating system and 
    have Docker installed.